* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

body {
   background:#c9d6df;
   height: 100vh;
   line-height: 1.6;

}

header {
  position: sticky;
  height: 5rem;
  background: #52616b;
  max-width:100%;
  top:0;
  z-index: 69;
}

.head-title {
 font-family: 'Bungee Shade', cursive;
  font-weight: bolder;
  color: #f0f5f9;
  text-shadow: 5px 5px 5px #52616b;
  line-height: 1.6;
  letter-spacing: 2.5px;
  font-size: 28px;
}



@media only screen and (max-width: 370px) {
  .head-title {
    font-size: 23px;
  }
  .home-btn {
    margin-top: 20px !important;
  }
}

.home-btn {
  top:40%;
}


.fa-snowboarding,.fa-newspaper, .fa-bell {
  font-size: 25px;

}

.icon-des {
  color: #f0f5f9;
  font-size:13px;
}

h2 {
  font-family: 'Roboto', sans-serif;
}
.add-event {
   background:#c9d6df;
  width: 100%;
   font-family: 'Roboto', sans-serif;
}

.create-form, .notification, .profile-page, .resort-detail {
  height: 700px;
  width: 100%;
   font-family: 'Roboto', sans-serif;
   /* position: fixed; */

}


/* Profile Page */

.profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;

}




/*Resort Detail */


@media only screen and (min-width: 768px) {
  .resort-img img{
   width: 300px;
   border-radius: 30px 0 0 30px;

  }
  .resort-main {
  display: flex;


}

.resort-description {
  border-radius: 0 30px 30px 0;
}

.resort-description p {
  padding: 10px;
}
}

@media only screen and (min-width: 1023px) {
  .resort-img img{
   width: 500px;
   height: 400px;

  }
  .resort-description p {
    padding: 30px;

  }
  .main-logo {
    margin-top: 0px;
  }
}


@media only screen and (max-width: 540px) {
  .resort-detail {
    height: 700px;
  }
  .resort-img img {
   width: 100%;
   border-radius: 30px 30px 0 0;

  }

  .resort-description {
      border-radius: 0 0 30px 30px;
  }
  .resort-description p {
  padding: 10px;
}

}
.resort-description {
  background: white;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 15%)

}




.login {
  background:  #52616b;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.main-page {
   background:#c9d6df;
  height:100vh;
  width: 100%;
   font-family: 'Roboto', sans-serif;
   overflow: scroll;


}


.resort-list-item-card {
  background: #f0f5f9;
  box-shadow: 5px 10px;
}



.btn-detail, .btn-eventdetail, .cancel-btn {
  background-color: #52616b;
  color: #fff;
  border-radius: 30px;
  border-style: none;
  width: 250px;
  height: 40px;
 font-family: 'Roboto', sans-serif;
 display:inline-block;
 text-decoration: none;

}



.btn-event-card, .join-button {
    background-color: #f0f5f9;
    color: #35434b;
    border-radius: 30px;
    width: 240px;
    font-family: 'Roboto', sans-serif;
    border-style:none;
    position: relative;
    bottom: -40px;


}


/* .img-detail{
  object-fit: cover;
  height: 250px;
  width: 250px;
} */




.img-list{
  height: 75px;
  width: 70px;
}

.p-resortList{
font-size: 15px;
}

/*Event Cards*/

.welcome {
  padding-top: 70px;
}

.card {
  border-radius: 30px;
  width: 350px;
}

.card-title {
letter-spacing: 2px;
height: 30px;

}
.event-img {
  filter: brightness(50%);
  box-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
  object-fit: cover;
  width: 350px;
  height: 320px;
  border-radius: 30px;
}



.add-event {
  font-family: 'Roboto', sans-serif;
}
.join-event {
  font-family: 'Roboto', sans-serif;
}

/*Homepage*/

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */
.homepage-container{

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 130px 0;
  background: url(images/shred-buds.jpg) no-repeat center ;
  background-size: cover;
  position: fixed;
}


.homepage-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);

}
.home-title {
  font-family: 'Bungee Shade', cursive;
  font-weight: bolder;
  color: #f0f5f9;
  line-height: 1;
  letter-spacing: 2.5px;
  /* position: fixed; */
  top:20%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

@media screen and (min-width: 768px) {
.home-logo-name {
 padding: 150px;
}

.login-btn, .account-btn {
  width: 200px;
}

.account-btn {
  margin-left: 5px;
}

.imgEventDetails, .event-info {
  border-radius: 30px;
}
}

.container{
 margin-top: 0;
}

.imgEventDetails{
  height: 300px;
  width: 340px;


}


.detail-title {
  font-size: 30px;
}

.boarder {
  font-size: 20px;
  color: #212529;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 12;
  width: 100%;

}

.footer-border {
  border-radius: 30px 30px 0 0;
}
.nav {
  font-family: 'Roboto', sans-serif;
  background: #52616b;
   justify-content: space-around;
   height: 60px;
   align-items: center;

}

.nav-link {
  color: #f0f5f9;
}
.nav-events {
    /* border-top:  solid white; */
    position: fixed;
    top: 10;
    z-index:12;
    width: 100%;
    background-color: #3d474e;
    border-radius: 0 0 30px 30px;

}

.nav-icon {
 color: #f0f5f9;
}
.event-card {
  overflow-y: auto;
 padding-top: 60px;
 padding-bottom: 60px;
 background-color: #c9d6df;
 border: none;
}

.pic-box, .name-box, .extra-box {
  bottom: 10%;
}

@media only screen and (min-width: 768px) {
   .pic-box, .name-box, .extra-box {
  bottom: 7%;

}
  .about, .level, .description {
    font-size: 20px;
  }

}
.content-container {
  height: 90vh;
 background-color: #ffff;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  bottom:0;
}
/* .description, .level{
  color: grey;
} */

.resort-list-img {
  height:280px;
  border-radius: 30px 30px 0 0;

}

.resort-card {
  width: 350px;
box-shadow: 2px 2px 4px rgb(0 0 0 / 15%)
}

.resort-list-page {
  margin-bottom: 300px;
  overflow: hidden;
  padding-bottom: 55px;
}

.host-pic {
  height:60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;

}
.attending-pic {
width: 40px;
height:40px;
border-radius: 50%;
object-fit: cover;

}


.event {
  background-color: #c9d6df;
  border: none;
}

.event-info {
  background-color: white;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}



/*Event Detail */

.event-detail {
  height: 800px;
}

@media only screen and (max-width:450px ){
  .content-container {
    height: 580px;
  }
  .profile-info {
    padding: 10px;
  }
.imgEventDetails {
  width: 100%;
}

.btn-eventdetail {
  margin: 30px;
}

.event-img {
  width: 350px;
}

.imgEventDetails {
  border-radius: 30px 30px 0 0;
}

.event-info {
  border-radius: 0 0 30px 30px;
}

.main-logo {
  width: 250px;
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
}

@media only screen and (min-width: 1024px) {

  .add-form, .update-form {
    display : flex;
  }
  .event-info {
    width: 400px;
  }
  .event-page {
    display: flex;
    justify-content: center;

  }
  .imgEventDetails {
    width: 550px;
    height: 500px;
  }

  .btn-eventdetail {
    margin: 40px;
  }

  .main-logo {
  width: 200px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
}

/*Host Page*/

.host {
  background:#c9d6df;
  height: 800px;
  width: 100%;
   font-family: 'Roboto', sans-serif;
   /* position: fixed; */


}
.host-img {
width: 100%;


}


.host-content {
  background: white;


}

/*ipad screen*/

@media only screen and (device-width: 768px) {

  .event-img {
    height: 400px;
    width: 350px;
  }
  .host-content {
    width: 600px;

  }
  .host-img {
    width: 600px;
    height: 400px;

  }

  .imgEventDetails {
    width: 540px;
    height: 420px;
    border-radius: 30px 30px 0 0;

  }
  .event-info {
    border-radius: 0 0 30px 30px;
  }

  .btn-event-card, .join-button {
    bottom: -80px;
  }
}

@media only screen and (min-width: 1023px) {
  .host-content {
    display: flex;
  }


  .profile-info {
    padding-top: 30px;
  }
}


    .delete-btn ,.update-btn{
      width: 130px;
    }


    label {
      font-family: 'Roboto', 'sans-serif';
    }

    .btn-modal {
    background-color: #52616b;
    color: #fff;
    border-radius: 30px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    width: 200px;
}

input, label {
  display: block;
}

.input-width {
  width: 220px;
}

/* @media only screen and (min-width: 375px) {
  .profile-page {
    position: fixed;
  }
} */

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

@media (orientation:landscape) {
.home-logo-name {
  padding: 10px;
  text-align: center;
}
img {
  height: 220px;

}
.content-container {
  height: 600px;
}
}

@media screen and (min-width: 1355px) {
  .home-logo-name {
    padding: 180px;
  }
}
