* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

body {
   background:#c9d6df;
   height: 100vh;
   line-height: 1.6;

}

header {
  position: sticky;
  height: 5rem;
  background: #52616b;
  max-width:100%;
  top:0;
  z-index: 69;
}

.head-title {
 font-family: 'Bungee Shade', cursive;
  font-weight: bolder;
  color: #f0f5f9;
  text-shadow: 5px 5px 5px #52616b;
  line-height: 1.6;
  letter-spacing: 2.5px;

}

@media only screen and (max-width: 376px) {
  .head-title {
    font-size: 25px;
  }
}


.home-title {
  font-family: 'Bungee Shade', cursive;
  font-weight: bolder;
  color: #f0f5f9;
  line-height: 1.6;
  letter-spacing: 2.5px;
  position: fixed;
  top:20%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.home-btn {
  position: fixed;
  top:40%;
}

.fa-snowboarding,.fa-newspaper, .fa-bell {
  /* color: #f0f5f9; */
  font-size: 40px;
  color: black;
}
/* .fa-bell {
  color: red;
  font-size: 40px;

} */

h2 {
  font-family: 'Roboto', sans-serif;
}

/* Profile Page */

.profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;

}


.create-form, .add-event, .notification, .profile-page, .resort-detail {
  background:#c9d6df;
  height: 700px;
  width: 100%;
   font-family: 'Roboto', sans-serif;
   /* position: fixed; */

}





/*Resort Detail */

/* .resort-img {
  padding-top: 10px;
} */
@media only screen and (min-width: 768px) {
  .resort-img img{
   width: 300px;

  }
  .resort-main {
  display: flex;

}

.resort-description p {
  padding: 10px;
}
}

@media only screen and (min-width: 1023px) {
  .resort-img img{
   width: 500px;
   height: 400px;

  }
  .resort-description p {
    padding: 30px;

  }

}

@media only screen and (max-width: 540px) {
  .resort-detail {
    height: 700px;
  }
  .resort-img img {
   width: 100%;

  }
  .resort-description p {
  padding: 10px;
}

}
.resort-description {
  background: white;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 15%)
}




.login {
  background:  #52616b;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.main-page {
   background:#c9d6df;
  height:100vh;
  width: 100%;
   font-family: 'Roboto', sans-serif;
   overflow: scroll;


}


.resort-list-item-card {
  background: #f0f5f9;
  box-shadow: 5px 10px;
}



.btn-detail, .btn-eventdetail{
  background-color: #52616b;
  color: #fff;
  border-radius: 30px;
  border-style: none;
  width: 250px;
  height: 40px;
 font-family: 'Roboto', sans-serif;
 display:inline-block;
 text-decoration: none;
/*  padding:0.3em 1.2em;
 margin:0 0.3em 0.3em 0; */


}

.btn-event-card, .join-button {
    background-color: #f0f5f9;
    color: #35434b;
    border-radius: 30px;
    width: 240px;
    font-family: 'Roboto', sans-serif;
    border-style:none;
}


.img-detail{
  height: 250px;
  width: 250px;
}




.img-list{
  height: 75px;
  width: 70px;
}

.p-resortList{
font-size: 15px;
}

/*Event Cards*/

.card {
  border-radius: 30px;
}
.event-img {
  filter: brightness(50%);
  /* box-shadow: 5px 10px; */
  box-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
  object-fit: cover;
  width: 350px;
  height: 320px;
  border-radius: 30px;
}

.add-event {
  font-family: 'Roboto', sans-serif;
}

.start-input, .end-input {
  width:155px;
}


.homepage-container{

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url(images/shred-buds.jpg) no-repeat center ;
  background-size: cover;
  position: fixed;



}


.container{
 margin-top: 0;
}

.imgEventDetails{
  height: 300px;
  width: 340px;

}





.detail-title {
  font-size: 30px;
}

.boarder {
  font-size: 20px;
  color: #212529;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 12;
  width: 100%;

}

.footer-border {
  border-radius: 30px 30px 0 0;
}
.nav {
  font-family: 'Roboto', sans-serif;
  background: #52616b;
   justify-content: space-around;
   height: 60px;
   align-items: center;


}
.nav-events {
    border-top:  solid white;
    position: fixed;
    z-index:12;
    width: 100%;
    background-color: #3d474e;
    border-radius: 0 0 30px 30px;

}

.nav-icon {
 color: #f0f5f9;
}
.event-card {
  overflow-y: auto;
 padding-top: 60px;
 padding-bottom: 60px;
 background-color: #c9d6df;
 border: none;
}

.pic-box, .name-box, .extra-box {
  bottom: 10%;
}

@media only screen and (min-width: 768px) {
   .pic-box, .name-box, .extra-box {
  bottom: 7%;

}
  .about, .skill, .description {
    font-size: 20px;
  }
  /* .event-img{
    height: 220px;
  } */
}
.content-container {
  height: 90vh;
 background-color: #ffff;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  bottom:0;
}
/* .description, .level{
  color: grey;
} */

.resort-list-img {
  height:280px;
  border-radius: 30px 30px 0 0;

}

.resort-card {
  width: 350px;
box-shadow: 2px 2px 4px rgb(0 0 0 / 15%)
}

.resort-list-page {
  margin-bottom: 300px;
  overflow: hidden;
  padding-bottom: 55px;
}

.host-pic {
  height:60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;

}
.attending-pic {
width: 40px;
height:40px;
border-radius: 50%;
object-fit: cover;

}


.event {
  background-color: #c9d6df;
  border: none;
}

.event-info {
  background-color: white;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}



/*Event Detail */

.event-detail {
  height: 800px;
}

@media only screen and (max-width:450px ){

  .profile-info {
    padding: 10px;
  }
.imgEventDetails {
  width: 100%;
}
/* .event-detail {
  height: 850px;
} */

.btn-eventdetail {
  margin: 30px;
}

.event-img {
  width: 350px;
}
}

@media only screen and (min-width: 1024px) {
  .event-info {
    width: 400px;
  }
  .event-page {
    display: flex;
    justify-content: space-between;

  }
  .imgEventDetails {
    width: 600px;
    height: 500px;
  }

  .btn-eventdetail {
    margin: 40px;
  }
}

/*Host Page*/

.host {
  background:#c9d6df;
  height: 800px;
  width: 100%;
   font-family: 'Roboto', sans-serif;
   /* position: fixed; */


}
.host-img {
width: 100%;


}


.host-content {
  background: white;


}

/*ipad screen*/

@media only screen and (device-width: 768px) {

  .event-img {
    height: 400px;
    width: 350px;
  }
  .host-content {
    width: 600px;

  }
  .host-img {
    width: 600px;
    height: 400px;

  }
}

@media only screen and (min-width: 1023px) {
  .host-content {
    display: flex;
  }


  .profile-info {
    padding-top: 30px;
  }
}

   /* @media only screen and (max-device-width: 480px) {
      .host {
        height: 1000px;
      }
      .host-img {
        width: fit-content
      }
    } */
